<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${questionDTO.title}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="/css/publish.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body class="main">
<div th:insert="~{navigition :: #my-nav}"></div>
<div class="container-fluid">
    <div class="row content-bj">
        <div class="col-lg-9 col-md-12  col-sm-12 col-xs-12">
            <span>
                作者：[[${questionDTO.user.name}]] |
                发布时间：[[${#dates.format(questionDTO.gmtCreate, 'yyyy-MM-dd HH:mm')}]] |
                阅读数：[[${questionDTO.viewCount == null || questionDTO.viewCount == 0 ? 0 : questionDTO.viewCount}]]
            </span>
            <hr>
            <span th:text="${questionDTO.description}"></span>
            <hr>
            <a th:href="@{'/publish/'+${questionDTO.id}}">
                <span class="glyphicon glyphicon-pencil question-edit" aria-hidden="true"
                      th:if="${session.user!=null && session.user.name==questionDTO.user.name}">编辑
                </span>
            </a>
            <hr>
            <div class="question-account">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded question-avatar" th:src="${questionDTO.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body question-username">
                    <h4 class="media-heading" th:text="${questionDTO.user.name}"></h4>
                </div>
            </div>
            <input type="hidden" th:value="${questionDTO.id}" id="input-question-id">
            <textarea class="form-control question-textarea" rows="6" required></textarea>
            <input type="button" id="btn-reply" value="回复" class="btn btn-success question-btn">
        </div>
        <div class="col-lg-3 col-md-12  col-sm-12 col-xs-12">
            <h4>发起人</h4>
            <div class="question-account">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded question-avatar" th:src="${questionDTO.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body question-username">
                    <h4 class="media-heading" th:text="${questionDTO.user.name}"></h4>
                </div>
            </div>
            <hr>
            <h4>相关问题</h4>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/community.js"></script>
</html>